<section class="ftco-section">
    <div class="container" style="width: 500px">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5" >
                    <div class="text-center">
                        <!--            <nb-icon nbPrefix icon="logo" pack="theme-icon-pack"></nb-icon>-->
                    </div>
                    <div class="text-center  mb-4 secondary-color">
                        <span>CAFE SANG</span>
                    </div>
                    <h3 class="text-center mb-2">Đăng nhập</h3>

                    <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title" class="login-form">
                        <div class="mb-3">
                            <div>
                                <label for="input-email" class="form-label mb-3"
                                       style="font-weight: bolder">Email</label>
                            </div>
                            <div class="form-group">
                                <input nbInput
                                       class="form-control rounded-left"
                                       shape="semi-round"
                                       fullWidth
                                       [(ngModel)]="user.email"
                                       #email="ngModel"
                                       name="email"
                                       id="input-email"
                                       pattern=".+@.+\..+"
                                       placeholder="Nhập Email"
                                       fieldSize="large"
                                       autofocus
                                       [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                                       [required]="getConfigValue('forms.validation.email.required')"
                                       [attr.aria-invalid]="email.invalid && email.touched ? true : null">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div>
                                <label for="input-email" class="form-label mb-3"
                                       style="font-weight: bolder">Mật Khẩu</label>
                            </div>
                            <div class="form-group d-flex">
                                <input shape="semi-round" [type]="getInputType()"
                                       nbInput
                                       fullWidth
                                       [(ngModel)]="user.password"
                                       #password="ngModel"
                                       name="password"
                                       type="password"
                                       id="input-password"
                                       placeholder="Nhập Mật Khẩu"
                                       fieldSize="large"
                                       class="form-control rounded-left"
                                       [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                                       [required]="getConfigValue('forms.validation.password.required')"
                                       [minlength]="getConfigValue('forms.validation.password.minLength')"
                                       [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                                       [attr.aria-invalid]="password.invalid && password.touched ? true : null">
                            </div>
                        </div>
                        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
                            <ul class="alert-message-list">
                                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                            </ul>
                        </nb-alert>

                        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
                            <p class="alert-title"><b>Hooray!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                            </ul>
                        </nb-alert>
                        <div class="form-group">
                            <button nbButton
                                    class="btn"
                                    fullWidth
                                    status="primary"
                                    size="large"
                                    [disabled]="submitted || !form.valid"
                                    [class.btn-pulse]="submitted">
                                Đăng nhập
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
