<nb-card style="width: 500px">
  <nb-card-header class="text-center">
    <span>사진</span>
    <span (click)="close()" >close</span>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 mb-4" >
        <img src="http://i.stack.imgur.com/aEEkn.png" class="w-100" alt="">
      </div>
      <div class="col-md-4 mb-4" >
        <img src="http://i.stack.imgur.com/aEEkn.png" class="w-100" alt="">
      </div>
      <div class="col-md-4 mb-4" >
        <img src="http://i.stack.imgur.com/aEEkn.png" class="w-100" alt="">
      </div>
      <div class="col-md-4 mb-4" >
        <img src="http://i.stack.imgur.com/aEEkn.png" class="w-100" alt="">
      </div>
      <div class="col-md-4 mb-4" >
        <img src="http://i.stack.imgur.com/aEEkn.png" class="w-100" alt="">
      </div>
      <div class="col-md-4 mb-4" >
        <img src="http://i.stack.imgur.com/aEEkn.png" class="w-100" alt="">
      </div>
    </div>
  </nb-card-body>
</nb-card>
