<div class="container profile-main">
  <div  class="profile-main__header">
    <span class="profile-main__header__title">프로필 정보</span>
    <span class="profile-main__header__icon">
      <a href=""> <nb-icon nbPrefix icon="edit-profile" pack="theme-icon-pack"></nb-icon>
      Edit</a>
    </span>
  </div>
  <div class="profile-main__content">
    <form action="" class="profile-main__content__form">
      <div class="form-group profile-main__content__form__full-name">
        <label for="full_Name">Full Name</label>
        <input id="full_Name" type="text" nbInput fullWidth status="basic" placeholder="Default">
      </div>
      <div class="form-group profile-main__content__form__gender">
        <label for="full_gender">Gender</label>
        <nb-select id="full_gender" fullWidth >
          <nb-option value="0">Male</nb-option>
          <nb-option value="1">Female</nb-option>
        </nb-select>
      </div>
      <div class="form-group profile-main__content__form__date-of-birth">
        <label for="date_of_birth">Date of birth</label>
        <input id="date_of_birth" type="text" nbInput fullWidth status="basic" placeholder="Default">
      </div>
      <div class="form-group profile-main__content__form__email">
        <label for="Email">Email</label>
        <input id="Email" type="text" nbInput fullWidth status="basic" placeholder="Default">
      </div>
      <div class="form-group profile-main__content__form__phone-number">
        <label for="Phone_Number">Phone Number</label>
        <input id="Phone_Number" type="text" nbInput fullWidth status="basic" placeholder="Default">
      </div>
      <div class="form-group">
        <button nbButton size="medium">취소</button>
        <button nbButton size="primary">동의하다</button>
      </div>
    </form>
  </div>

</div>

