<nb-card>
    <nb-card-header>{{ page_data?.name }}</nb-card-header>
    <nb-card-body>
        <div *ngIf="(page_data.FrontEndType === 'GAME' && page_data.type ==='CATEGORY' && page_data.category_id === 6) ||
         (page_data.FrontEndType === 'POST' && page_data.type ==='CATEGORY' && page_data.category_id === 9 )">
            <nb-select disabled [placeholder]="page_data.name" fullWidth>
                <nb-option value="1">Option 1</nb-option>
            </nb-select>
        </div>
        <ng-container *ngIf="page_data.data && models.length">
            <div *ngFor="let item of models; let i = index" class="mb-3">
                <label class="mb-2"> CHỌN {{ page_data.type }} {{ i + 1 }}</label>
                <div class="d-flex">
                    <button nbButton outline status="primary"
                            shape="round" (click)="addNewPost()"
                            style="margin-right:10px" *ngIf="i + 1 === models.length && i < page_data.max_fields - 1 ">
                        <nb-icon icon="plus-outline"></nb-icon>
                    </button>
                    <nb-select fullWidth placeholder="Select Showcase"
                               (ngModelChange)="changePost()"
                               [(ngModel)]="models[i].post_id"
                               >
                        <nb-option>Chọn bài viết</nb-option>
                        <nb-option [value]="post.id" [disabled]="disableSelect(post.id)"  *ngFor="let post of data">{{post.title}}</nb-option>
                    </nb-select>
                </div>
            </div>
        </ng-container>
    </nb-card-body>
</nb-card>