<div class="">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="text-white">Danh Sách <b>{{title}}</b></h2>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
        <div class="d-flex" *ngIf="post_type === 'POST'">
            <div style="margin-right: 20px">
                <nb-form-field>
                    <input placeholder="Tìm kiếm" nbInput status="info" [(ngModel)]="keyword" (ngModelChange)="keyword = $event; getPosts()">
                    <button nbSuffix nbButton ghost >
                        <nb-icon icon="search-outline"></nb-icon>
                    </button>
                </nb-form-field>
            </div>
            <div>
                <nb-select placeholder="Chọn thể loại" status="info" multiple [(ngModel)]="categories" (ngModelChange)="categories = $event; getPosts()">
                    <nb-option value="1">Thể Thao Điện Tử</nb-option>
                    <nb-option value="8">Thể Thao</nb-option>
                    <nb-option value="4">Video</nb-option>
                    <nb-option value="13">Bài Viết Thường</nb-option>
                </nb-select>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>Tiêu Đề</th>
                <th>Ảnh</th>
                <th class="text-center">Liên Kết</th>
                <th class="text-center">Thể Loại</th>
                <th class="text-center">Người Tạo</th>
                <th>Thời Gian Tạo</th>
                <th class="text-center">Trạng Thái</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of posts | paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: totalRecord }; let i = index">
                <td>
                    {{ ((currentPage - 1) * limit) + i + 1}}
                </td>
                <td style="width:250px">{{ post.title }}</td>
                <td style="width:150px">
                    <img src="{{post.image}}" alt="{{ post.title }}" style="width: 150px; height: 150px">
                </td>
                <td class="text-center">
                    <a href="{{ post.link}}" target="_blank">Link</a>
                </td>
                <td class="text-center"> {{ post.categoryItem.category.name}}</td>
                <td class="text-center">
                    {{post.user_created.full_name}}
                </td>
                <td>{{post.createdAt | date:'short'}}</td>
                <td class="text-center">
                    <button nbButton size="small" outline status="primary"
                            *ngIf="post.status === 'ENABLE'; else enablePost"
                            shape="round"
                            (click)="changeStatusPost('DISABLE', post.id, i)">
                        <nb-icon icon="eye-outline"></nb-icon>
                    </button>
                    <ng-template #enablePost>
                        <button nbButton size="small" outline status="danger"
                                shape="round"
                                (click)="changeStatusPost('ENABLE', post.id, i)">
                            <nb-icon icon="eye-off-outline"></nb-icon>
                        </button>
                    </ng-template>
                </td>
                <td style="width: 200px">
                    <button nbButton size="small" outline status="info" style="margin-right: 5px">
                        <nb-icon icon="alert-circle-outline"></nb-icon>
                    </button>
                    <button nbButton size="small" outline status="primary" style="margin-right: 5px">
                        <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                    <button nbButton size="small" outline status="danger">
                        <nb-icon icon="trash-2-outline" (click)="removePost(post.id, post.title)"></nb-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>{{ limit }}</b> out of <b>{{totalRecord}}</b> entries</div>
            <pagination-controls (pageChange)="page = $event; getPosts() " class="pagination"></pagination-controls>
        </div>
    </div>
</div>
