.profile {
  &__head {
    margin-bottom: 20px;
  }

  &__body {
    &__item {
      &:last-child{
        color: red;
      }
      margin-bottom: 15px;
      border-radius: 10px;
      padding: 10px 6px;
      &:hover{
        background: #F1F5F9;
      }
      display: flex;
      &__icon {
        margin-right: 10px;
      }
      &__text {
        div {
          &:first-child {
            font-weight: bolder;
          }
          &:last-child {
            font-weight: lighter;
            font-size: 12px;
          }
        }
      }
    }
  }
}
