<section class="profile">
  <section class="profile__head text-center">
    <div>
      <img src="../../../../../../assets/images/Beared%20Guy02-min%201.png" alt="">
    </div>
    <div>
      Lee Sung Woo
    </div>
    <div>
      UI/UX Designer
    </div>
  </section>
  <section class="profile__body">
    <section class="profile__body__item">
      <div class="profile__body__item__icon">
        <nb-icon nbPrefix icon="user" pack="theme-icon-pack"></nb-icon>
      </div>
      <div class="profile__body__item__text">
        <div>
          프로필 정보
        </div>
        <div>
          기본 정보 및 사진.
        </div>
      </div>
    </section>
    <section class="profile__body__item">
      <div class="profile__body__item__icon">
        <nb-icon nbPrefix icon="logout" pack="theme-icon-pack"></nb-icon>
      </div>
      <div class="profile__body__item__text">
        <div>
          로그 아웃
        </div>
        <div>
          귀하의 계정은 소프트웨어에서 로그아웃됩니다.
        </div>
      </div>
    </section>
  </section>
</section>
