<div class="container-fluid workspace-content">
  <div class="row workspace-content__first-block">
    <div class="col-sm-12 col-md-6 workspace-content__first-block__colum">
      <nb-card class="workspace-content__first-block__colum__overview">
        <div>
          <div>Overview</div>
          <div>
            <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker">
            <nb-datepicker #dateTimePicker></nb-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-xxxl-3 col-md-6 ng-star-inserted">
            <nb-card style="border-radius: 10px;margin: 0">
              <nb-card-body style="display: flex">
                <div style="width: 60px">
                  <nb-icon nbPrefix icon="progress" pack="theme-icon-pack"></nb-icon>
                </div>
                <div>
                  <div>Progress</div>
                  <div>7/30</div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-xxxl-3 col-md-6 ng-star-inserted">
            <nb-card style="border-radius: 10px; margin: 0">
              <nb-card-body style="display: flex">
                <div style="width: 60px">
                  <nb-icon nbPrefix icon="check" pack="theme-icon-pack"></nb-icon>
                </div>
                <div>
                  <div>Today Done</div>
                  <div>7</div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-card>
    </div>
    <div class="col-sm-12 col-md-6 workspace-content__first-block__colum">
      <nb-card class="workspace-content__first-block__colum__link">
        <div>
          <div>Link</div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="#">
              <nb-icon nbPrefix icon="link" pack="theme-icon-pack"></nb-icon>
              <span>https://www.figma.com/file/rzW8ntJGs7yhIeEqZWHblV/team-tool-team-library?node-id=841%3A16773</span>
            </a>
          </div>
        </div>
      </nb-card>
    </div>
  </div>
  <div class="workspace-content__second-block">
    <div class="workspace-content__second-block__card">
      <table class="table workspace-content__second-block__card__table">
        <thead class="workspace-content__second-block__card__table__thead">
        <tr>
          <th class="text-center">번호</th>
          <th class="text-center">작성자</th>
          <th class="text-center">내용</th>
          <th class="text-center workspace-content__second-block__card__table__thead__action"
              (click)="changePriorityVisible()">
            우선순위
            <span>
              <nb-icon nbPrefix icon="caret-down" pack="theme-icon-pack"></nb-icon>
            </span>
            <div
              [class]="!priorityVisible ? 'visually-hidden workspace-content__second-block__card__table__thead__action__dropdown' : ' workspace-content__second-block__card__table__thead__action__dropdown' ">
              <nb-radio-group [(ngModel)]="option">
                <nb-radio
                  *ngFor="let option of options"
                  [value]="option.value">
                  {{ option.label }}
                </nb-radio>
              </nb-radio-group>
              <div>
                <button nbButton status="primary" fullWidth>적용</button>
              </div>
            </div>
          </th>
          <th class="text-center">사진</th>
          <th class="text-center">논평</th>
          <th class="text-center">등록일</th>
          <th class="text-center">작업완료 예정일</th>
          <th class="workspace-content__second-block__card__table__thead__action" (click)="changeActionVisible()">
            <span>상태</span>
            <span>
              <nb-icon nbPrefix icon="caret-down" pack="theme-icon-pack"></nb-icon>
            </span>
            <div
              [class]="!actionVisible ? 'visually-hidden workspace-content__second-block__card__table__thead__action__dropdown' : ' workspace-content__second-block__card__table__thead__action__dropdown' ">
              <nb-checkbox status="primary" class="d-block">전체</nb-checkbox>
              <nb-checkbox status="primary" class="d-block">요청</nb-checkbox>
              <nb-checkbox status="primary" class="d-block">완료</nb-checkbox>
              <nb-checkbox status="primary" class="d-block">보류</nb-checkbox>
              <nb-checkbox status="primary" class="d-block">재요청</nb-checkbox>
              <div>
                <button nbButton status="primary" fullWidth>적용</button>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody class="table table-hover workspace-content__second-block__card__table__tbody">
          <tr class="workspace-content__second-block__card__table__tbody__item">
          <td class="workspace-content__second-block__card__table__tbody__item__order">
            1
          </td>
          <td class="workspace-content__second-block__card__table__tbody__item__created">
            Administrator
          </td>
          <td class="workspace-content__second-block__card__table__tbody__item__content">
            습니다, 늘려주...
          </td>
          <td class="workspace-content__second-block__card__table__tbody__item__priority">
            높음
          </td>
          <td class="workspace-content__second-block__card__table__tbody__item__image">
           <div (click)="showImage()">
             보기  <nb-icon nbPrefix icon="info-cycle" pack="theme-icon-pack"></nb-icon>
           </div>
          </td>
          <td class="workspace-content__second-block__card__table__tbody__item__comment">
            <nb-icon nbPrefix icon="comment" pack="theme-icon-pack" (click)="showComment()"></nb-icon>
          </td>
          <td class="workspace-content__second-block__card__table__tbody__item__created-time">
            <div>2022.01.01</div>
            <div>18:30</div>
          </td>
          <td class="wworkspace-content__second-block__card__table__tbody__item__finished-date">
            <div>2022.01.01</div>
            <div>18:30</div>
          </td>
          <td class="workspace-content__second-block__card__table__tbody__item__status">
            <button nbButton outline shape="round" size="small" status="success">완료</button>
            <div class="workspace-content__second-block__card__table__tbody__item__status__dropdown">
              <nb-radio-group>
                <nb-radio
                  *ngFor="let option of options"
                  [value]="option.value">
                  {{ option.label }}
                </nb-radio>
              </nb-radio-group>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>

  </div>
</div>
