<nb-layout>
  <nb-layout-header subheader  *ngIf="subSidebar === 'workspace'">
    <div style="display:flex; width: 100% ; justify-content: space-between">
      <div class="section">
        <p style="font-size: 20px; font-weight: bold">Workspace</p>
      </div>
      <div class="section" style="display:flex;  justify-content: space-between; align-items: center">
        <nb-form-field>
          <input type="text" nbInput>
          <button nbSuffix nbButton ghost>
            <nb-icon nbPrefix icon="search" pack="theme-icon-pack"></nb-icon>
          </button>
        </nb-form-field>
        <button nbButton shape="semi-round" status="primary" style="margin-left: 20px" (click)="addJob()">
          <nb-icon nbPrefix icon="plus-outline"></nb-icon>
          업무생성
        </button>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar state="compacted" class="main-sidebar">
    <nb-sidebar-header class="text-center">
      <a href="#">
        <nb-icon nbPrefix icon="logo-min" pack="theme-icon-pack"></nb-icon>
      </a>
    </nb-sidebar-header>
    <nb-menu tag="menu" [items]="items"></nb-menu>
    <nb-sidebar-footer style="padding: 11px">
      <img src="../../assets/images/Group%2013537.png" alt="">
    </nb-sidebar-footer>
  </nb-sidebar>

  <nb-sidebar  style="background: #F8FAFC">
    <workspace-sidebar *ngIf="subSidebar === 'workspace'"></workspace-sidebar>
    <profile-sidebar *ngIf="subSidebar === 'profile'"></profile-sidebar>
    <notify-sidebar *ngIf="subSidebar === 'notify'"></notify-sidebar>
  </nb-sidebar>

  <nb-layout-column class="main-content colored-column-basic" style="background: white">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
