<section class="project__content__item">
      <span class="project__content__item__icon">
         <nb-icon nbPrefix icon="project-icon" pack="theme-icon-pack"></nb-icon>
      </span>
  <span class="project__content__item__name">
        Dianne Russell
      </span>
  <span class="position-relative float-end project__content__item__show-more">
      <nb-icon nbPrefix icon="more-vertical-outline" (click)="dropdown()"></nb-icon>
      <ul
        [class]="dropDownClass ? 'project__content__item__show-more__dropdown-list d-block' :  'project__content__item__show-more__dropdown-list d-none'">
        <li class="project__content__item__show-more__dropdown-list__item">
          <span>
            위로 이동
          </span>
          <span>
             <nb-icon nbPrefix icon="arrow-up" pack="theme-icon-pack"></nb-icon>
          </span>
        </li>
        <li class="project__content__item__show-more__dropdown-list__item">
          <span>
            하향의
          </span>
          <span>
             <nb-icon nbPrefix icon="arrow-down" pack="theme-icon-pack"></nb-icon>
          </span>
        </li>
        <li class="project__content__item__show-more__dropdown-list__item ">
          <span>
            삭제
          </span>
          <span>
            <nb-icon nbPrefix icon="trash" pack="theme-icon-pack"></nb-icon>
          </span>
        </li>
      </ul>
  </span>
</section>
