<nb-card>
  <nb-card-header class="">
    <div class="text-left position-relative">
      Comment
      <span (click)="close()" style="position: absolute; right: 0px">
        <nb-icon nbPrefix icon="close-outline"></nb-icon>
      </span>
    </div>
    <div>
      <div>
        <nb-icon nbPrefix icon="project-icon" pack="theme-icon-pack"  style="margin-right: 20px"></nb-icon>
        <span style="margin-right: 20px">dadadadad</span>
        <button nbButton hero status="warning" size="tiny">tiny</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
  </nb-card-body>
</nb-card>
