<nb-layout>
    <nb-layout-header fixed>
        <div class="header-container">
            <div class="logo-container d-flex align-items-center" >
                <a  href="#"  class="mat-ripple sidebar-toggle mat-ripple-unbounded"
                    style="margin-right: 1.25rem;"
                    (click)="toggle()">
                    <nb-icon icon="menu-arrow-outline" style="font-size: 2em; color:#acb1bb"></nb-icon>
                </a>
                <a  href="#" class="logo" style="padding: 0 1.25rem;
    font-size: 1rem;
    white-space: nowrap;">CAFE SANG</a></div>
        </div>
    </nb-layout-header>
    <nb-sidebar>
        <nb-menu tag="menu" [items]="items"></nb-menu>
    </nb-sidebar>

    <nb-layout-column class="main-content colored-column-basic">
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>
